<!-- NAVBAR PROFESIONAL -->
<nav class="navbar">
    <div class="navbar-container">
        <!-- Logo o título -->
    <a href="index.html">
        <img src="img/utnlogo.png" class="navbar-logo" alt="UTN Logo">
    </a>
    
    <ul class="navbar-menu">
        <li><a href="index.html">Inicio</a></li>
        <li><a href="protocolos.html">Protocolos de Seguridad</a></li>
        <li><a href="capacitacion.html">Capacitación</a></li>
        <li><a href="noticias.html">Noticias y Actualizaciones</a></li>
        <li><a href="galeria.html">Galería</a></li>
        <li><a href="FAQ.html">Preguntas Frecuentes</a></li>
        <li><a href="contacto.html">Contacto</a></li>
    </ul>


        <!-- Botón hamburguesa para móviles -->
        <div class="navbar-toggle" id="navbar-toggle">
            <span></span><span></span><span></span>
        </div>
    </div>
</nav>